<div class="four wide column" style='background-color: #{{color.hex}}'>
</div>
<div class="one wide column">
  {{color.number}}
</div>
<div class="one wide column">
  #{{color.hex}}
</div>
<div class="one wide column">
  {{color.xterm}}
</div>
<div class="one wide column">
  {{color.airline}}
</div>
<div class="six wide right floated column">
  {{color.description}}
</div>
